<html>
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>{block name="title"}申通快递.梧桐{/block}</title>
    <link rel="stylesheet" href="__PUBLIC__/lib/sto/css/sto.css" />
    <link rel="stylesheet" href="__PUBLIC__/style/page/inner-index.css" />
    <link rel="stylesheet" href="__PUBLIC__/style/layout/layout.css">
</head>
<body>
<!-- 顶部导航 -->
<div id="header_zm">
    <a href="javascript:;"><img title="梧桐教学中心" src="http://103.36.134.38:8080/Public/home/img/layout/logo.jpg" /></a>
    <div class="tab_box_zm">
        <ul>
            <!--<li class="active" data-src="{:url('Index/index')}" tag="Index">首页</li>-->
        </ul>
    </div>
    <div class="guild_zm">
        <div class="memberName_zm f-14">张名小啊啊</div>
        <div class="member_down">
            <div class="triangle-up"></div>
            <ul>
                <li class="f-14">我的资料</li>
                <li>
                    <div class="net_code">
                        <p>网点编号:2155</p>
                        <p>网点名称:上海申通</p>
                        <p>员工编号:2155500479</p>
                        <p>用户名:zjy</p>
                    </div>
                </li>
                <li>
                    <div>
                        <button type="button" id="resetPsw" class="layui-btn layui-btn-sto width_100_p mb-10">重置密码</button>
                    </div>
                    <div>
                        <button type="button" class="layui-btn layui-btn-default width_90">更换账号</button>
                        <button type="button" class="layui-btn layui-btn-default width_90" style="margin-left: 5px!important;" id="quite_back">安全退出</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="pipe line_layer_top_line_zm f-l">|</div>
        <div class="set_box-zm">
            <ul>
                <li>
                    <img src="__PUBLIC__/img/layout/icon_layout_message.png">
                    <span class="bg_white auto_nub" id="auto" style="display: block; opacity: 0.728394;">9</span>
                </li>
                <li><img src="__PUBLIC__/img/layout/icon_layout_small.png" onclick="minimizedParentForm();"></li>
                <li><img src="__PUBLIC__/img/layout/icon_layout_max.png" onclick="maximizedParentForm();"></li>
                <li><img src="__PUBLIC__/img/layout/icon_layout_close.png" onclick="closeParentForm();"></li>
            </ul>
        </div>
    </div>
</div>
<!-- 顶部导航结束 -->

<!--右侧内容区域-->
<div class="main_right_b f-r">
    <div class="main_content_b">
        <div id="mask"></div>
        <div class="content_tabs_b">
            <div class="toolbar_b">
                <div class="toolbar_down">常用工具<i class="iconfont icon-down"></i>
                </div>
                <ul class="toolbar_list">
                    <li><a href="javascript:void(0)"><i class="iconfont icon-search"></i>快件查询</a></li>
                    <li><a href="javascript:void(0)"><i class="iconfont icon-search"></i>订单查询</a></li>
                    <li><a href="javascript:void(0)"><i class="iconfont icon-search"></i>网点查询</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0)"><i class="iconfont icon-help"></i>帮助中心</a></li>
                </ul>
            </div>
            <div class="roll_left">
                <i class="iconfont icon-return"></i>
            </div>
            <div class="page_tabs_b">
                <div class="page_tabs_content">
                    <a href="javascript:void(0)" tag="home" class="active">首页</a>
                </div>
            </div>
            <div class="roll_right">
                <i class="iconfont icon-forward"></i>
            </div>
            <div class="close_group">
                <div class="toolbar_down">关闭操作<i class="iconfont icon-down"></i>
                </div>
                <ul class="toolbar_list">
                    <li><a href="javascript:void(0)" class="tab_active">定位当前选项卡</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0)" class="tab_closeAll">关闭所有选项卡</a></li>
                    <li><a href="javascript:void(0)" class="tab_closeOther">关闭其他选项卡</a></li>
                </ul>
            </div>
            <div class="refresh_iframe">
                <i class="iconfont icon-refresh"></i>
            </div>
        </div>
        <div class="page_content show animated fadeInRight" tag="home">
            <iframe scrolling="yes" frameborder="0" src="{:url('Index/welcomeExpress')}"></iframe>
        </div>
    </div>
</div>
<!--右侧内容结束-->
<!--左侧导航-->
{block name="left_menu"}
    {include file="public/left_menu" /}
{/block}
<!--左侧导航结束-->
<div id="nav_box" style="display: block">
    <div class="second_nav_box f-l">
        <div id="second_nav">
        </div>
    </div>
    <div class="third_nav_box f-l">
        <div id="third_nav">
        </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/lib/jquery/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/layerui/layui.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/sto/sto.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/page/transport-newnav.js"></script>

<script>
    $('.guild_zm .memberName_zm').on('click', function (event) {
        $('.guild_zm').find('.member_down').toggle();
        event.stopPropagation();
    })
</script>
</body>
</html>