<div class="main_left_b bg_shallow_black f-l">
    <div id="menu_b">
        <ul class="clearfix">
            <li>
                <a href="javascript:void(0)">
                    <i class="iconfont icon-scan"></i>
                    <span>系统</span>
                </a>
                <div class="triangle_left"></div>
                <div class="submenu_wrapper">
                    <div class="submenu_ul">
                        <div class="colla_item">
                            <h4 class="colla_title">
                                订单平台
                                <i class="iconfont icon-down"></i>
                            </h4>
                            <div class="colla_content">
                                <div class="submenu_li">
                                    <a href="javascript:void(0)" tag="lanjian">业务员揽件揽件
                                    </a>
                                    <div class="third_nav" style="display: none">
                                        <div class="nav_b">
                                            <div class="nav_list">
                                                <a href="javascript:void(0)" onclick="addTabBar('{:url("Index/welcome")}','测试栏目','testadd')">测试栏目</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
