<html>
	<head>
		<meta charset="utf-8" />
		<meta name="renderer" content="webkit|ie-comp|ie-stand" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<title>申通快递.梧桐</title>
		<link rel="stylesheet" href="__PUBLIC__/lib/sto/css/sto.css" />
		<link rel="stylesheet" href="__PUBLIC__/style/page/inner-welcome-express.css" />
	</head>
	<body style="background: #f5f5f5; overflow-x: hidden">
		<!--
        	作者：398146685@qq.com
        	时间：2017-07-14
        	描述：系统内框架，以运输管理为例欢迎页面
        -->
		<div class="header">
			<div class="header-cont clearfix">
				<div class="loops">
					<dl>
						<dd>
							<a href="javascript:void(0)" target="_blank">
								<img src="__PUBLIC__/img/page/express/express01.png">
								<span>快件跟踪</span>
							</a>
						</dd>
						<dd>
							<a href="javascript:void(0)" target="_blank">
								<img src="__PUBLIC__/img/page/express/express02.png">
								<span>跟踪对比</span>
							</a>
						</dd>
						<dd>
							<a href="javascript:void(0)" target="_blank">
								<img src="__PUBLIC__/img/page/express/express03.png">
								<span>扫描记录</span>
							</a>
						</dd>
						<dd>
							<a href="javascript:void(0)" target="_blank">
								<img src="__PUBLIC__/img/page/express/express08.png">
								<span>签收异常</span>
							</a>
						</dd>
						<dd>
							<a href="javascript:void(0)" target="_blank">
								<img src="__PUBLIC__/img/page/express/express04.png">
								<span>收件称重</span>
							</a>
						</dd>
						<dd>
							<a href="javascript:void(0)" target="_blank">
								<img src="__PUBLIC__/img/page/express/express05.png">
								<span>发件</span>
							</a>
						</dd>
						<dd>
							<a href="javascript:void(0)" target="_blank">
								<img src="__PUBLIC__/img/page/express/express06.png">
								<span>到件</span>
							</a>
						</dd>
						<dd>
							<a href="javascript:void(0)" target="_blank">
								<img src="__PUBLIC__/img/page/express/express07.png">
								<span>问题件</span>
							</a>
						</dd>
					</dl>
				</div>
			</div>
			<div class="tab-bar">
				<ul class="clearfix">
					<li class="active">异常对比<span class="badge badge-warning">17</span></li>
					<li>业务量/实名制</li>
					<li>扫描票量</li>
					<li>派送时效</li>
					<li>代收统计</li>
				</ul>
			</div>
		</div>
		<div class="wel-content show animated fadeInRight">
			<div class="container_express">
				<div class="row cl">
					<div class="col-xs-12 col-sm-6" id="main_one">
						<table class="layui-table charts-table" lay-even lay-skin="line">
							<colgroup>
								<col width="150">
								<col>
								<col>
								<col>
							</colgroup>
							<thead>
							<tr>
								<th>日期</th>
								<th>有收件无签收</th>
								<th>有收件无发件</th>
								<th>有派件无签收</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>3,562</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>3,562</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>3,562</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>3,562</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>3,562</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>3,562</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>3,562</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="col-xs-12 col-sm-6" id="main_two" style="height: 400px"></div>
				</div>
			</div>
		</div>
		<div class="wel-content animated fadeInRight">
			<div class="container" style="width: 100%">
				<div class="row cl">
					<div class="col-xs-12 col-sm-6" id="main_three" style="height: 400px">
					</div>
					<div class="col-xs-12 col-sm-6" id="main_four" style="height: 400px"></div>
				</div>
			</div>
		</div>
		<div class="wel-content animated fadeInRight">
			<div class="container_express">
				<div class="row cl">
					<div class="col-xs-12 col-sm-6">
						<table class="layui-table charts-table" lay-even lay-skin="line">
							<colgroup>
								<col width="150">
								<col>
								<col>
								<col>
							</colgroup>
							<thead>
							<tr>
								<th>日期</th>
								<th>收件</th>
								<th>发件</th>
								<th>到件</th>
								<th>派件</th>
								<th>签收</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>3,562</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>3,562</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>3,562</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>3,562</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>3,562</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>3,562</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>3,562</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="col-xs-12 col-sm-6" id="main_six" style="height: 400px"></div>
				</div>
			</div>
		</div>
		<div class="wel-content animated fadeInRight">
			<div class="container_express">
				<div class="row cl">
					<div class="col-xs-12 col-sm-6" id="main_seven">
						<table class="layui-table charts-table" lay-even lay-skin="line">
							<colgroup>
								<col width="150">
								<col>
								<col>
								<col>
							</colgroup>
							<thead>
							<tr>
								<th>日期</th>
								<th>派件票数</th>
								<th>正常签收</th>
								<th>正常签收率</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>10%</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>10%</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>10%</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>10%</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>10%</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>10%</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>4,562</td>
								<td>10%</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="col-xs-12 col-sm-6" id="main_eight" style="height: 400px"></div>
				</div>
			</div>
		</div>
		<div class="wel-content animated fadeInRight">
			<div class="container_express">
				<div class="row cl">
					<div class="col-xs-12 col-sm-12">
						<table class="layui-table charts-table" lay-even lay-skin="line">
							<colgroup>
								<col width="150">
								<col>
								<col>
								<col>
							</colgroup>
							<thead>
							<tr>
								<th>日期</th>
								<th>到件票数</th>
								<th>到件金额（¥）</th>
								<th>未签收票数</th>
								<th>未签收费用（¥）</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>1,562</td>
								<td>3,562</td>
								<td>1,562</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>1,562</td>
								<td>3,562</td>
								<td>1,562</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>1,562</td>
								<td>3,562</td>
								<td>1,562</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>1,562</td>
								<td>3,562</td>
								<td>1,562</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>1,562</td>
								<td>3,562</td>
								<td>1,562</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>1,562</td>
								<td>3,562</td>
								<td>1,562</td>
							</tr>
							<tr>
								<td>2017-07-14</td>
								<td>3,562</td>
								<td>1,562</td>
								<td>3,562</td>
								<td>1,562</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="__PUBLIC__/lib/jquery/jquery.js"></script>
		<script type="text/javascript" src="__PUBLIC__/lib/echarts/echarts.js"></script>
		<script type="text/javascript" src="__PUBLIC__/lib/echarts/theme/orange.js"></script>
		<script type="text/javascript" src="__PUBLIC__/lib/layerui/layui.js"></script>
		<script type="text/javascript" src="__PUBLIC__/lib/sto/sto.js"></script>

		<script type="text/javascript">

			$(function(){
				setChart();
			});
			//tab切换
			$(".tab-bar li").click(function(){
				var index = $(this).index();
				$(this).addClass('active').siblings().removeClass('active');
				$('.wel-content').eq(index).addClass('show').siblings().removeClass('show');
				switch (index){
					case 0:
						setChart()
						break;
					case 1:
						// 基于准备好的dom，初始化echarts实例
						var myChart_three = echarts.init(document.getElementById('main_three'),'orange');

						// 指定图表的配置项和数据
						var option_three = {
							title : {
								text: '业务量/实名制',
								x:'center',
								y:'bottom'
							},
							tooltip: {
								trigger: 'axis',
								axisPointer: {
									type: 'cross',
									crossStyle: {
										color: '#999'
									}
								}
							},
							legend: {
								data:['实名制录入数据','发件量']
							},
							xAxis: [
								{
									type: 'category',
									data: ['07-14','07-14','07-14','07-14','07-14','07-14','07-14'],
									axisPointer: {
										type: 'shadow'
									}
								}
							],
							yAxis: [
								{
									type: 'value',
									name: '票数',
									min: 0,
									max: 10000,
									interval: 2000,
									axisLabel: {
										formatter: '{value}'
									}
								}
							],
							series: [
								{
									name:'实名制录入数据',
									type:'bar',
									data:[1200, 4000, 4200, 4560, 4560, 5660, 4560]
								},
								{
									name:'发件量',
									type:'bar',
									data:[1200, 4000, 4200, 6352, 4560, 4826, 4560]
								}
							]
						};

						// 使用刚指定的配置项和数据显示图表。
						myChart_three.setOption(option_three);

						// 基于准备好的dom，初始化echarts实例
						var myChart_four = echarts.init(document.getElementById('main_four'),'orange');

						// 指定图表的配置项和数据
						var option_four = {
							title : {
								text: '业务量/实名制占比',
								x:'center',
								y:'bottom'
							},
							tooltip : {
								trigger: 'item',
								formatter: "{a} <br/>{b} : {c} ({d}%)"
							},
							legend: {
								orient: 'vertical',
								left: 'left',
								data: ['实名制录入数据','发件量']
							},
							series : [
								{
									name: '实名制录入数据/发件量',
									type: 'pie',
									radius : '55%',
									center: ['50%', '60%'],
									data:[
										{value:335, name:'实名制录入数据'},
										{value:310, name:'发件量'}
									],
									itemStyle: {
										emphasis: {
											shadowBlur: 10,
											shadowOffsetX: 0,
											shadowColor: 'rgba(0, 0, 0, 0.5)'
										}
									}
								}
							]
						};

						// 使用刚指定的配置项和数据显示图表。
						myChart_four.setOption(option_four);
						break;
					case 2:
						// 基于准备好的dom，初始化echarts实例
						var myChart_six = echarts.init(document.getElementById('main_six'),'orange');

						// 指定图表的配置项和数据
						var option_six = {
							title: {
								text: '扫描票量',
								x:'center',
								y:'bottom'
							},
							tooltip : {
								trigger: 'item',
								formatter: "{a} <br/>{b} : {c} ({d}%)"
							},
							legend: {
								data:['收件','发件','到件','派件','签收']
							},
							xAxis: {
								type: 'category',
								boundaryGap: false,
								data: ['周一','周二','周三','周四','周五','周六','周日']
							},
							yAxis: {
								type: 'value'
							},
							series: [
								{
									name:'收件',
									type:'line',
									stack: '总量',
									data:[120, 132, 101, 134, 90, 230, 210]
								},
								{
									name:'发件',
									type:'line',
									stack: '总量',
									data:[220, 182, 191, 234, 290, 330, 310]
								},
								{
									name:'到件',
									type:'line',
									stack: '总量',
									data:[150, 232, 201, 154, 190, 330, 410]
								},
								{
									name:'派件',
									type:'line',
									stack: '总量',
									data:[320, 332, 301, 334, 390, 330, 320]
								},
								{
									name:'签收',
									type:'line',
									stack: '总量',
									data:[820, 932, 901, 934, 1290, 1330, 1320]
								}
							]
						};

						// 使用刚指定的配置项和数据显示图表。
						myChart_six.setOption(option_six);

						break;
					case 3:
						// 基于准备好的dom，初始化echarts实例
						var myChart_eight = echarts.init(document.getElementById('main_eight'),'orange');

						// 指定图表的配置项和数据
						var option_eight = {
							title : {
								text: '业务量/实名制',
								x:'center',
								y:'bottom'
							},
							tooltip: {
								trigger: 'axis',
								axisPointer: {
									type: 'cross',
									crossStyle: {
										color: '#999'
									}
								}
							},
							legend: {
								data:['实名制录入数据','发件量']
							},
							xAxis: [
								{
									type: 'category',
									data: ['07-14','07-14','07-14','07-14','07-14','07-14','07-14'],
									axisPointer: {
										type: 'shadow'
									}
								}
							],
							yAxis: [
								{
									type: 'value',
									name: '票数',
									min: 0,
									max: 10000,
									interval: 2000,
									axisLabel: {
										formatter: '{value}'
									}
								}
							],
							series: [
								{
									name:'实名制录入数据',
									type:'bar',
									data:[1200, 4000, 4200, 4560, 4560, 5660, 4560]
								},
								{
									name:'发件量',
									type:'bar',
									data:[1200, 4000, 4200, 6352, 4560, 4826, 4560]
								}
							]
						};

						// 使用刚指定的配置项和数据显示图表。
						myChart_eight.setOption(option_eight);
				}
			});
			function setChart(){
				// 基于准备好的dom，初始化echarts实例
				var myChart_two = echarts.init(document.getElementById('main_two'),'orange');

				// 指定图表的配置项和数据
				var option_two = {
					title : {
						text: '异常对比图',
						x:'center',
						y:'bottom'
					},
					tooltip: {
						trigger: 'axis',
						axisPointer: {
							type: 'cross',
							crossStyle: {
								color: '#999'
							}
						}
					},
					legend: {
						data:['有收件无签收','有收件无发件','有派件无签收']
					},
					xAxis: [
						{
							type: 'category',
							data: ['07-14','07-14','07-14','07-14','07-14','07-14','07-14'],
							axisPointer: {
								type: 'shadow'
							}
						}
					],
					yAxis: [
						{
							type: 'value',
							name: '票数',
							min: 0,
							max: 10000,
							interval: 2000,
							axisLabel: {
								formatter: '{value}'
							}
						}
					],
					series: [
						{
							name:'有收件无签收',
							type:'bar',
							data:[1200, 4000, 4200, 4560, 4560, 5660, 4560]
						},
						{
							name:'有收件无发件',
							type:'bar',
							data:[1200, 4000, 4200, 6352, 4560, 4826, 4560]
						},
						{
							name:'有派件无签收',
							type:'bar',
							data:[500, 600, 8000, 3000, 2000, 4562, 6582]
						}
					]
				};

				// 使用刚指定的配置项和数据显示图表。
				myChart_two.setOption(option_two);
			}

		</script>
	</body>
</html>