@charset "utf-8";

/*	项目名称：梧桐
 *	文件名称：文档下载记录页面
 *	开发时间：2017/07/27
 * 	开发人员：398146685@qq.com
 * */



.f_dark{
	color: #333333 !important;
}

.f_blue{
	color: #3598dc !important;
}

.width_48_p{
	width: 48%;
}

.header{
	background: #ffffff;
	height: auto;
	padding: 30px 20px 0;
	border-bottom: 1px solid #eeeeee;
	text-align: left;
	position: fixed;
	z-index: 2;
	width: 100%;
}

.input_group_box{
	width: 600px;
	margin: 0 auto 30px;
}

.input_group{
	margin: 0 auto;
	height: 48px;
	width: 100%;
	background: #ffffff;
	border-radius: 24px;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	border: 1px solid #dddddd;
	position: relative;
	text-align: left;
}
.input_group:hover{
	box-shadow: 0px 0px 40px rgba(128,128,128,0.4);
	-moz-box-shadow: 0px 0px 40px rgba(128,128,128,0.4);
	-webkit-box-shadow: 0px 0px 40px rgba(128,128,128,0.4);
}

.input_group input[type=text]{
	margin-left: 26px;
	height: 46px;
	font-size: 14px;
	padding: 14px 0;
	width: 460px;
	outline: none;
	border: none;
}

.input_group a.layui-btn-sto{
	width: 112px;
	height: 48px;
	font-size: 16px;
	color: #ffffff;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 24px 24px 0;
	-webkit-border-radius: 0 24px 24px 0;
	-moz-border-radius: 0 24px 24px 0;
	text-align: center;
	padding: 14px 0;
	box-sizing: border-box;
}

.download_cont{
	padding-top: 120px;
}

.down_list{
	padding-top: 14px;
}

.down_list ul li{
	margin: 0 auto 14px;
	width: 800px;
	height: 120px;
	background: #ffffff;
	border-radius: 6px;
	border: 1px solid #eeeeee;
	position: relative;
	padding: 20px 60px 20px 100px;
	box-sizing: border-box;
	box-shadow: 0px 1px 2px #999999;
}

.download_detail h5{
	margin: 0 0 10px 0;
	color: #f58664;
	font-weight: 600;
	font-size: 15px;
}

.download_detail p{
	font-size: 12px;
	color: #999999;
	margin-bottom: 3px;
}

.download_detail p span{
	display: inline-block;
	font-size: 12px;
	color: #999999;
}

.down_state{
	position: absolute;
	left: 0;
	top: 20px;
	width: 80px;
	height: 80px;
	border-right: 1px solid #eeeeee;
}

.state_icon{
	margin: 20px auto 0;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	background: url("../../img/page/download/state.png") no-repeat;
}

.down_btn{
	position: absolute;
	right: 0;
	top: 20px;
	height: 80px;
	width: 60px;
	text-align: center;

}

.down_btn a i{
	font-size: 20px;
	display: block;
	margin: 4px 0;
	color: #666666;
}

.down_btn a:hover i{
	color: #f58664;
}

.down_btn a.layui-disabled i, .down_btn a.layui-disabled:hover i{
	color: #999999;
}

.down_loading .state_icon{
	background-position: 0 0;
}

.down_loading{
	background: #fee7d5 !important;
}

.down_loading .down_state{
	border-right: 1px solid #fdd8bb !important;
}

.down_waiting .state_icon{
	background-position: -40px 0;
}

.down_complete .state_icon{
	background-position: -80px 0;
}

.down_invalid .state_icon{
 background-position: -120px 0;
}

.down_cancel .state_icon{
	background-position: -160px 0;
}

.down_expired .state_icon{
	background-position: -200px 0;
}

.down_expired, .down_invalid{
	filter: grayscale(100%);
	filter: gray;
	opacity: 0.5;
}

/*首页导航固顶阴影*/
.header_shadow_active{
	box-shadow:0px 1px 15px #d2d2d2;
	-moz-box-shadow: 0px 1px 15px #d2d2d2;
	-webkit-box-shadow: 0px 1px 15px #d2d2d2;
}

.header_shadow_none{
	box-shadow: none;
	-webkit-box-shadow: none;
	moz-box-shadow: none;
}