/*
 * 2017/08/01
 * 文件导出
 * 张明*/

#export-center{
	position: relative;
}
#export-center:hover{
	color: inherit;
}
.export-box{
	background: #fff;
	border: 1px solid #ddd;
	width: 300px;
	position: absolute;
	top: 37px;
	right: 0px;
	box-shadow: 1px 3px 3px #eee;
	-webkit-box-shadow: 1px 3px 3px #eee;
	cursor: default;
	display: none;
}
.export-box-sanjiao{
	position: absolute;
	width: 0px;
    height: 0px;
    top: -8px;
    right: 35px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ddd;
}
.export-box .export-list{
	max-height: 250px;
	display: block;
	overflow-y: auto;
}
.export-box .export-list a{
	display: block;
	border-bottom: dotted 1px #ddd;
	text-align: left;
	padding: 5px 15px;
	padding-left: 35px;
	padding-right: 100px;
	position: relative;
}
.export-box .export-list a p{
	margin-bottom: 0px;
	line-height: 22px;
	height: 22px;
	font-size: 14px;
}
.export-box .export-list a small{
	font-size: 12px;
	line-height: 18px;
	color: #999;
	font-family: arial;
}
.export-box .export-list a .export-state{
	position: absolute;
	right: 15px;
	top: 0px;
	width: 85px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}
.export-box .export-list a.sucess{
	background: url(../../img/icon/export-sucess.png) no-repeat 10px center;
}
.export-box .export-list a.sucess .export-state{
	color: darkgreen;
}
.export-box .export-list a.error{
	background: url(../../img/icon/export-error.png) no-repeat 10px center;
}
.export-box .export-list a.error .export-state{
	color:red;
}
.export-box .export-list a.doing{
	background: url(../../img/icon/export-doing.gif) no-repeat 10px center;
}
.export-box .export-list a.doing .export-state{
	color:orange;
}


 .export-box .export-more{
 	height: 45px;
 	background: #f5f5f5;
 	font-size: 14px;
 	text-align: center;
 	line-height: 45px;
 }


.u-flyer{display: block;width: 50px;height: 50px;border-radius: 50px;position: fixed;z-index: 9999;} 