@charset "utf-8";

/*	项目名称：梧桐
 *	文件名称：文档下载记录页面
 *	开发时间：2017/07/28
 * 	开发人员：344822559@qq.com
 * */

.list-box{
	width: 1180px;
	margin: 0 auto;
}
.list-box dl{
	width: 230px;
	margin-right: 20px;
	position: relative;
	float: left;
	min-height: 188px;
	padding-left: 150px;
	margin-bottom: 20px;
}
.list-box dl:nth-child(3n){
	margin-right: 0px;
}
.list-box dl dt{
	width: 150px;
	height: 188px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.list-box dl dt img{
	display: block;
	width: 150px;
	height: 150px;
}
.list-box dl dt .layui-btn-group{
	width: 150px;
}
.list-box dl dt .layui-btn-group button{
	width: 75px;
}
.list-box dl dd{
	width: 209px;
	height: 166px;
	padding: 10px;
	/*background: #fafafa;*/
	border: 1px solid #eee;
	border-left: none;
	overflow: hidden;
	position: relative;
}
.list-box dl dd p{
	margin: 0px;
	font-size: 12px;
	padding-left: 10px;
	line-height: 25px;
}
.list-box dl dd .del_list_pic{
	position: absolute;
	right: 0px;
	bottom: 0px;
	border: 1px solid #eee;
	border-right: 0px;
	border-bottom: none;
	background: none;
	font-size: 12px;
	padding: 5px 10px;
	color: #999;
	cursor: pointer;
}
.list-box dl dd .del_list_pic:hover{
	color: white;
	background: orangered;
}
.list-box dl dd p a{
	color: #1E9FFF;
	text-decoration: underline;
}
.list-box dl dd p a:hover{
	color: #FF5722;
}
